name: Lint
on: [push, pull_request]
jobs:
  black:
    name: Black
    if: >
      github.event_name == 'push' &&
      github.ref_name != github.event.repository.default_branch
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Lint
        uses: psf/black@stable
        with:
          options: "--verbose"
      - name: Commit and push linting fixes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: ${{ github.event.pull_request.head.ref || github.head_ref || github.ref }}
          commit_message: "chore: fix linting issues"
          commit_user_name: black
  isort:
    name: isort
    if: >
      github.event_name == 'push' &&
      github.ref_name != github.event.repository.default_branch
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
          architecture: x64
          cache: pip
      - name: Install Dependencies
        run: pip install -e .
      - name: Lint
        uses: isort/isort-action@master
        with:
          configuration: ""
      - name: Commit and push linting fixes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: ${{ github.event.pull_request.head.ref || github.head_ref || github.ref }}
          commit_message: "chore: fix linting issues"
          commit_user_name: isort
